.dialogs {
    display: grid;
}

.dialogItem {
    padding: 10px;
    color: white;
}

.dialogItem .active {
    color: gold;
}


.messages {
    padding: 10px;
}

.messages .message {

}